# development | production (기본값: production)
NODE_ENV=

# 데이터베이스 연결 정보 (비워두면 기본값 사용)
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
DB_HOST=

# 서버 포트 (기본값: 3000)
APP_PORT=

# DB 초기화 여부 (true | false, 기본값: false)
SEED_DB=
